.section {
	@apply w-[1440px] flex flex-col gap-5 justify-center items-center bg-[#FAFAFA] py-24
}

.list {
	@apply w-[800px]
}

.arrow::after {
	content: '';
  display: inline-block;
  background-image: url('../../arrow.svg');
  background-size: contain;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}
